nav {

  background: deepskyblue;
  display: flex;
  
  justify-content: center;
  align-items: flex-end;
    
}

.title {
  display: flex;
  justify-content: center;
}

article {
  display: flex;
  justify-content: center;
}

